{% extends "app/shell.html" %}
{% load staticfiles%}

{% block head %}
    <script src="{% static 'revo/scripts/revo.js' %}"></script>
    <link href="{% static 'revo/css/revo.css' %}" rel="stylesheet"/>
	
    <script src="{% static 'revo/scripts/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'revo/scripts/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'revo/scripts/dataTables.fixedHeader.min.js' %}"></script>
	
	<link rel="stylesheet" href="{% static 'revo/css/jquery.dataTables.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'revo/css/responsive.dataTables.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'revo/css/fixedHeader.dataTables.min.css' %}"/>

    <script src="{% static 'app/scripts/jquery-ui.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui2.css' %}" />
	<script src="{% static 'revo/scripts/jquery.ui.timepicker.js' %}"></script>
	<link rel="stylesheet" href="{% static 'revo/css/jquery.ui.timepicker.css' %}"/>
	<script>
	$(document).ready(
    function() {
        //clicking the parent checkbox should check or uncheck all child checkboxes
        $(".parentCheckBox").click(
            function() {
                $(this).parents('label:eq(0)').find('.childCheckBox').attr('checked', this.checked);
            }
        );
        //clicking the last unchecked or checked checkbox should check or uncheck the parent checkbox
        $('.childCheckBox').click(
            function() {
                if ($(this).parents('label:eq(0)').find('.parentCheckBox').attr('checked') == true && this.checked == false)
                    $(this).parents('label:eq(0)').find('.parentCheckBox').attr('checked', false);
                if (this.checked == true) {
                    var flag = true;
                    $(this).parents('label:eq(0)').find('.childCheckBox').each(
	                    function() {
	                        if (this.checked == false)
	                            flag = false;
	                    }
                    );
                    $(this).parents('label:eq(0)').find('.parentCheckBox').attr('checked', flag);
                }
            }
        );
    }
);
$(document).ready(function() {
	var table = $('#example').DataTable( {
	"order": [[ 5, "desc" ]],
	"columnDefs": [ {
	"orderable": false, "targets": [0,9,10],
		//"orderData": [5,4], "targets": [4]
    } ],
	
	responsive: true,
	"searching": false,
	"bLengthChange": false,
	"scrollY": "200px",
	"scrollCollapse": true,
	paging: false
	} );
	new $.fn.dataTable.FixedHeader( table );
} );

/* Define two custom functions (asc and desc) for string sorting */

	
	$(function() {
		$("#schedule_date").datepicker({ minDate: 0, dateFormat: 'yy/mm/dd' });   
		$('#schedule_time').timepicker({
			
			onHourShow: function( hour ) { 
				var now = new Date();
				if ( $('#schedule_date').val() == $.datepicker.formatDate ( 'yy/mm/dd', now ) ) {
					if ( hour <= now.getHours() ) {
						return false;
					}
				}
				return true;
			}
		});
	});
</script>
<script>



</script>
{% endblock %}

{% block body %} 
    <div class="row">
        <form action="{% url 'revo_view' %}" method="post">
            {% csrf_token %}

            <div class="col-md-4">
                <div class="quote-box">
                    <p class="quotation-mark">
                        SET TOP BOX &nbsp;
                        <a href="Set_Top_Box">
                            <i class="fa fa-refresh" aria-hidden="true" style="color: #cd040b;cursor: pointer"></i>
                        </a>
                        <span class="pull-right"><img src="{% static 'app/images/settopbox.png' %}"></span>
                    </p>
                    <hr>
					<!--<div class="row">
					<div class="col-md-12">
                    <div class="col-md-6"><div class="quote-text scroller" id="STBStatus"></div></div>
					<div class="col-md-6"><div class="quote-text scroller" id="">
						<p class="quotation-mark" style="margin-top:10px">TYPE &nbsp;</p>
						<hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 1   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 2   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 3   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 4   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 5   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 6   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 7   </label><hr>
						<label class="checkbox" ><input type="checkbox"> TYPE 8   </label><hr>
						
					</div>
					</div>
					</div>
					</div>-->
					<div class="quote-text scroller" id="STBStatus"></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="quote-box">
                    <p class="quotation-mark">
                        TEST SUITE
                        <span class="pull-right"><img src="{% static 'app/images/suite.png' %}"></span>
                    </p>
					<hr>
                    <!--<div class="quote-text scroller" id="STBStatus">
                        {% for test_suite in test_suite_list %}
                            <hr>
                            <label class="checkbox">
                                <input type="checkbox" name="checks" value={{ test_suite | safe }} />
                                <span>{{ test_suite | safe }}</span>
                            </label>
                        {% endfor %}
                    </div>-->
					
					<div class="quote-text scroller" id="STBStatus">
						<div class="multiselect center-block">
							<div class="selectBox" class="selection">
								<div class="overSelect"></div>
							</div>
							<div id="checkboxes">
								<nav>
									<label for="one" class="revo_dropdown">										
										<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"><input type="checkbox" class="parentCheckBox" /></a>
											Test Suite 1<br />
											<ul class="nav collapse revo_testcase" id="submenu1" role="menu" aria-labelledby="btn-1">
												<li><input type="checkbox" class="childCheckBox" /> Test Case 1</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 2</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 3</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 4</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 5</li>
											</ul>
									</label>	
									<hr>
									<label for="two" class="revo_dropdown">										
										<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false"><input type="checkbox" class="parentCheckBox" /></a>
											Test Suite 2<br />
											<ul class="nav collapse revo_testcase" id="submenu2" role="menu" aria-labelledby="btn-1">
												<li><input type="checkbox" class="childCheckBox" /> Test Case 6</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 7</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 8</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 9</li><hr>
												<li><input type="checkbox" class="childCheckBox" /> Test Case 10</li>
											</ul>
									</label>
									<hr>
									<label for="three" class="revo_dropdown"><input type="checkbox"/>
										Test Suite 3
									</label>
									<hr>
									<label for="four" class="revo_dropdown"><input type="checkbox"/>
										Test Suite 4
									</label>
									<hr>
									<label for="five" class="revo_dropdown"><input type="checkbox"/>
										Test Suite 5
									</label>
								</nav>
							</div>
						</div>
					</div>
                </div>
            </div>

            <div class="col-md-3">
				<div class="quote-box runquote">
					<input type="checkbox" name="schedule" onclick="showMe('div1')"> enable test scheduling
					<div id="div1" style="display:none">
						<script>
							
						</script>
						<span id="schedule_timestamp">
							<input type="text" id="schedule_date" name="date" class="form-control" placeholder="yy/mm/dd">
							<input type="text" id="schedule_time" name="time" class="form-control" style="margin-top:5px" placeholder="hh:mm">
							
							
						</span>
					</div>
					
                </div>
                <div class="quote-box runquote">
                    <input type="image" name="submit" img src="{% static 'app/images/run.png' %}" alt="Submit" />
                </div>
            </div>
        </form>

		<form action="{% url 'StopMultipleJobs' %}" method="post">
            {% csrf_token %}	
            <div class="col-md-12 divsub">
				<div class="quote-box scroller-text scroller">
					<!--<table class="table job-status_table scrollingTable">
						<thead class="scrollingHead" style="width:100%">
							<tr>
								<th style=";cursor:pointer;padding:10px 15px 10px 15px;color: #cd040b;">
                                    <input type="checkbox" onchange="checkAll(this)" name="chk[]" />
                                </th>
								<th style=";cursor:pointer;padding:10px 10px 10px 0px;color: #cd040b;">STB</th>
								<th style=";cursor:pointer;padding:10px 60px 10px 10px;color: #cd040b;">SUITE NAME</th>
								<th style=";cursor:pointer;padding:10px 0px 10px 0px;color: #cd040b;">BUILD#</th>
								<th style=";cursor:pointer;padding:10px;color: #cd040b;">RESULT</th>
								<th style=";cursor:pointer;padding:10px 30px 10px 15px;color: #cd040b;">JOB START TIME</th>
								<th style=";cursor:pointer;padding:10px 30px 10px 15px;color: #cd040b;">JOB END TIME</th>
								<th style=";cursor:pointer;padding:10px 10px 10px 0px;color: #cd040b;">DURATION</th>
								<th style=";cursor:pointer;padding:10px 0px 10px 0px;color: #cd040b;">TESTER</th>
								<th style=";cursor:pointer;padding:10px;color: #cd040b;">STOP JOB</th>
								<th style=";cursor:pointer;padding:0px 10px 0px 0px;color: #cd040b;">
									<p class = "quotation-mark" data-sortable="false">
									 OUTPUT &nbsp; &nbsp;<i class="fa fa-refresh" aria-hidden="true" style="cursor: pointer" onclick="stbststus1()"></i>
									</p>
								</th>
							</tr>
						</thead>							
						<tbody class="Result scrollingBody" id="">
						</tbody>
					</table>-->
					
					<script>
					
					</script>
					<style>
						div.container { max-width: 1200px }
					</style>
					<table id="example" class="display nowrap" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th style="padding-left:37px; text-align:center">
								
								<input type="checkbox" onchange="checkAll(this)" name="chk[]"  /></th>
								<th style="color:#cd040b;text-align:center"> &nbsp; STB</th>
								<th style="color:#cd040b;text-align:center">SUITE NAME</th>
								<th style="color:#cd040b;text-align:center">BUILD#</th>
								<th style="color:#cd040b;text-align:center">RESULT</th>
								<th style="color:#cd040b;text-align:center">JOB START TIME</th>
								<th style="color:#cd040b;text-align:center">JOB END TIME</th>
								<th style="color:#cd040b;text-align:center" >DURATION</th>
								<th style="color:#cd040b;text-align:center">TESTER</th>
								<th style="color:#cd040b;text-align:center">STOP JOB</th>
								<th style="color:#cd040b;text-align:center">
									OUTPUT &nbsp; &nbsp;<i class="fa fa-refresh" aria-hidden="true" style="cursor: pointer" onclick="stbststus1()"></i>
									
								</th>
							</tr>
						</thead>
						
						<tbody id="testdataid"/>
					</table>
			    </div>
		    </div>
    		<div class="col-md-4 divsub"></div>
        	<div class="col-md-2 divsub"><input type="image" name="submit" img="" src="/static/app/images/Stop.png" alt="Submit"></div>
    	</form>
	</div>
    {% include "revo/console_modal.html" %}

{% endblock %}