{% extends "app/shell.html" %}
{% load staticfiles%}

{% block head %}
    <script src="{% static 'revo/scripts/revo.js' %}"></script>
    <link href="{% static 'revo/css/revo.css' %}" rel="stylesheet"/>
    
    <script src="{% static 'app/scripts/footable-components.latest/footable.core.js'%}"></script>
    <script src="{% static 'app/scripts/footable-components.latest/footable.sorting.js'%}"></script>    
    <!-- <link rel="stylesheet" href="{% static 'app/content/footable-components.latest/footable.core.bootstrap.css'%}"> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
     
    <style>
/*        .scrollingBody{
            position:absolute;
            overflow:auto;
            height:350px;
            width:100%;
        }
        .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }*/
    </style>

    <!-- <script src="{% static 'revo/scripts/layout.js' %}"></script> -->
    
{% endblock %}

{% block body %} 
<div class=" subdiv">
        <div class="row">

            <form action="{% url 'revo' %}" method="post">
                {% csrf_token %}

                <div class="col-md-3">
                    <div class="quote-box">
                        <p class="quotation-mark">
                            Set Top Box
                            <span class="pull-right"><img src="{% static 'app/images/settopbox.png' %}"></span>
                        </p>
                        <hr>

                        <Div class="quote-text scroller" id="STBStatus">
                        </Div>

                        <div class="">
                            <div class="buttonHolder" onclick="stbststus()">
                                <p><a href="Set_Top_Box" class="btn btn-primary btn-large">Get Settopbox Status &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="quote-box">
                        <p class="quotation-mark">
                            Test Suite
                            <span class="pull-right"><img src="{% static 'app/images/suite.png' %}"></span>
                        </p>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE01">REG_AGREED_SUITE01
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE02">REG_AGREED_SUITE02
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE03">REG_AGREED_SUITE03
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE04">REG_AGREED_SUITE04
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE05">REG_AGREED_SUITE05
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE06">REG_AGREED_SUITE06
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE07">REG_AGREED_SUITE07
                        </label>
                        <hr>
                        <label class="checkbox">
                            <input type="checkbox" name="checks" value="REG_AGREED_SUITE08">REG_AGREED_SUITE08
                        </label>
                        <hr>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="quote-box runquote">
                        <input type="image" name="submit" img src="{% static 'app/images/run.png' %}" alt="Submit" />
                    </div>
                </div>
            </form>

    		<form action="{% url 'StopMultipleJobs' %}" method="post">
                {% csrf_token %}	
                <div class="col-md-12 divsub">
                    <div class="quote-box">
                        <div class="quote-text scroller">
                            <table class="table job-status_table" data-sorting="true">
                                <thead>
                                    <tr>        
            							<th ><p class = "quotation-mark"> JOB NAME</p></th>
                                        <th ><p class = "quotation-mark"> SUITE NAME</p></th>
                                        <th ><p class = "quotation-mark"> BUILD #</p></th>
                                        <th ><p class = "quotation-mark"> RESULT</p></th>
                                        <th ><p class=  "quotation-mark"> JOB START TIME</p></th>
                                        <th ><p class = "quotation-mark"> JOB END TIME</p></th>
                                        <th ><p class = "quotation-mark" data-sortable="false">DURATION</p></th>
                                        <!-- <th ><p class = "quotation-mark" data-sortable="false">USER</p></th> -->
                                        <th ><p class = "quotation-mark" data-sortable="false">STOP JOB</p></th>
                                        <th ><p class = "quotation-mark" data-sortable="false">
                                            OUTPUT &nbsp; &nbsp;<i class="fa fa-refresh" aria-hidden="true" style="cursor: pointer" onclick="stbststus1()"></i>
                                        </p></th>
                                    </tr>
                                </thead>
                                <tbody class="quote-text scroller" id="testdataid"/>
                            </table>
                        </div>
                    </div>
                </div>
        		<div class="col-md-4 divsub"></div>
        		<div class="col-md-2 divsub"><input type="image" name="submit" img="" src="/static/app/images/Stop.png" alt="Submit"></div>
    		</form>
	
	   </div>
    </div>
{% endblock %}