{% extends "app/shell.html" %}
{% load staticfiles%}

{% block head %}
    <script src="{% static 'revo/scripts/revo.js' %}"></script>
    <link href="{% static 'revo/css/revo.css' %}" rel="stylesheet"/>
    
    <script src="{% static 'app/scripts/footable-components.latest/footable.core.js'%}"></script>
    <script src="{% static 'app/scripts/footable-components.latest/footable.sorting.js'%}"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
     
{% endblock %}

{% block body %} 
    <div class="row">
        <form action="{% url 'revo_view' %}" method="post">
            {% csrf_token %}

            <div class="col-md-4">
                <div class="quote-box">
                    <p class="quotation-mark">
                        SET TOP BOX &nbsp;
                        <a href="Set_Top_Box">
                            <i class="fa fa-refresh" aria-hidden="true" style="color: #cd040b;cursor: pointer"></i>
                        </a>
                        <span class="pull-right"><img src="{% static 'app/images/settopbox.png' %}"></span>
                    </p>
                    <hr>
                    <div class="quote-text scroller" id="STBStatus"></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="quote-box">
                    <p class="quotation-mark">
                        TEST SUITE
                        <span class="pull-right"><img src="{% static 'app/images/suite.png' %}"></span>
                    </p>
                    <div class="quote-text scroller" id="STBStatus">
                        {% for test_suite in test_suite_list %}
                            <hr>
                            <label class="checkbox">
                                <input type="checkbox" name="checks" value="REG_AGREED_SUITE01" value={{ test_suite.name }}/>
                                <span>{{ test_suite | safe }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="quote-box runquote">
                    <input type="image" name="submit" img src="{% static 'app/images/run.png' %}" alt="Submit" />
                </div>
            </div>
        </form>

		<form action="{% url 'StopMultipleJobs' %}" method="post">
            {% csrf_token %}	
            <div class="col-md-12 divsub">
				<div class="quote-box scroller-text scroller">
					<table class="table job-status_table scrollingTable">
						<thead class="scrollingHead" style="width:100%">
							<tr>
								<th style="text-align:center;cursor:pointer;padding:10px 15px 10px 15px;color: #cd040b;">
                                    <input type="checkbox" onchange="checkAll(this)" name="chk[]" />
                                </th>
								<th style="text-align:center;cursor:pointer;padding:10px;color: #cd040b;">
									JOB NAME
								</th>
								<th style="text-align:center;cursor:pointer;padding:10px;color: #cd040b;">SUITE NAME</th>
								<th style="text-align:center;cursor:pointer;padding:10px 10px 10px 10px;color: #cd040b;">BUILD #</th>
								<th style="text-align:center;cursor:pointer;padding:10px;color: #cd040b;">RESULT</th>
								<th style="text-align:center;cursor:pointer;padding:10px 30px 10px 15px;color: #cd040b;">JOB START TIME</th>
								<th style="text-align:center;cursor:pointer;padding:10px 30px 10px 15px;color: #cd040b;">JOB END TIME</th>
								<th style="text-align:center;cursor:pointer;padding:10px 10px 10px 0px;color: #cd040b;">DURATION</th>
								<th style="text-align:center;cursor:pointer;padding:10px 0px 10px 0px;color: #cd040b;">USERNAME</th>
								<th style="text-align:center;cursor:pointer;padding:10px;color: #cd040b;">STOP JOB</th>
								<th style="text-align:center;cursor:pointer;padding:0px 10px 0px 0px;color: #cd040b;">
									<p class = "quotation-mark" data-sortable="false">
									 OUTPUT &nbsp; &nbsp;<i class="fa fa-refresh" aria-hidden="true" style="cursor: pointer" onclick="stbststus1()"></i>
									</p>
								</th>
							</tr>
						</thead>							
						<tbody class="Result scrollingBody" id="testdataid"/>							
					</table>
			    </div>
		    </div>
    		<div class="col-md-4 divsub"></div>
        	<div class="col-md-2 divsub"><input type="image" name="submit" img="" src="/static/app/images/Stop.png" alt="Submit"></div>
    	</form>
	</div>
    {% include "revo/console_modal.html" %}

{% endblock %}