{% extends "app/shell.html" %}
{% load staticfiles%}
{% block head %}
	<script src="{% static 'revo/scripts/revo.js' %}"></script>
    <link href="{% static 'revo/css/revo.css' %}" rel="stylesheet"/>     
{% endblock %}
{% block body %} 

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <div class="panel panel-primary device">
        <div class="panel-heading device-heading">
            <h3 class="device-title"> Test Cases </h3>
        </div>
        <div class="panel-body">
            <form name="tform" action="{% url 'test_case_delete' %}" method="post">
                {% csrf_token %}
                <table class="test_case_table">
                    <tr>
                        <th>Select</th>
                        <th>Test Case Name</th>
                    </tr>
                    {% for test_case in test_cases %}
                        <tr>
							<td>
                                <input type='checkbox' name='test_case' value='{{ test_case.id }}' data-edit= '{% url "test_case_edit" test_case.id %}'id="{{ test_case.name }}" onchange="disable_edit_test('Edit_Button', '.test_case_table tr td')"/> 
                            </td>
                            <td> {{ test_case.name }} </td>
                        </tr>
                    {% endfor %}         
                </table>                
                <p>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-2">
							<div>
								<button type="button" name="Edit_Button" class="btn btn-primary center-block" disabled="true" onclick="editTestCase()">Edit</button>
							</div>
							</div>
							<div class="col-md-2">
							<div>
								<input type='submit' class="btn btn-primary center-block"   name="submit"/>
							</div>
							</div>
							<div class="col-md-2">
							<div>
                                <a href="{% url 'test_case_new' %}">
                                    <button type="button" class="btn btn-primary center-block">Add</button>
                                </a>
							</div>
							</div>
							<div class="col-md-3"></div>
						</div>
					</div>
                </p>
            </form>
        </div>
    </div>
{% endblock %}