{% extends "app/shell.html" %}
{% load staticfiles%}
{% load widget_tweaks %}

{% block body %} 
    <script src="{% static 'app/scripts/jquery.input-ip-address-control-1.0.min.js' %}"></script>
    <div class="panel panel-primary device">
        <div class="panel-heading device-heading">
            <h3 class="device-title">Add Test Case</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="col-md-12 col-sm-12">
                    <p>
                        {{ form.name.errors }}
                        <label for="device-id">Test Case Name</label>
                        {{ form.name | add_class:"form-control input-sm" }}
                    </p>

                    <p>
                        <div>
                            <input type='submit' class="btn btn-primary center-block" value="Submit"  name="submit"/>
                        </div>
                    </p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}