{% extends "app/shell.html" %}
{% load staticfiles%}

{% block body %} 
    <script src="{% static 'app/scripts/jquery.input-ip-address-control-1.0.min.js' %}"></script>
    <div class="panel panel-primary device">
        <div class="panel-heading device-heading">
            <h3 class="device-title">Add Device</h3>
        </div>
        <div class="panel-body">
            <form  action="{% url 'device' %}" method="post">
                {% csrf_token %}
                <div class="col-md-12 col-sm-12">
                    <p>
                        <label for="device-id">Device ID (MAC ID)</label>
                        <input type="text" class="form-control input-sm" name="device-id" placeholder="Device ID">
                    </p>
                    <p>
                        <label for="device-serial-id">Device Serial ID</label>
                        <input type="text" class="form-control input-sm" name="serial-id" placeholder="Device Serial ID">
                    </p>
                    <p>
                        <label for="type">Type</label>  
                        <select name="device-type" class="form-control input-sm">
                            <option>-- Type --</option>
                            <option>VM</option>
                            <option>IPC</option>
                            <option>MKB</option>
                        </select>
                    </p>
        
                    
                    <script>
                        $(function(){
                            $('#ipv4').ipAddress();
                            $('#ipv6').ipAddress({v:6});
                        });

                        //mask input type text (ipv4) : ___.___.___.___
                        //mask input type text (ipv6) : ____:____:____:____:____:____:____:____
                    </script>
                    <p>
                        <label for="ip">IP Address</label>
                        <input name="ip" type="text" class="form-control input-sm">
                        <!--<input type="text" name="ipv" id="ipv6">-->
                    </p>
                    <p>
                        <label for="device-name">Device Name</label>
                        <input name="device-name" type="text" class="form-control input-sm" placeholder="Device Name">
                    </p>
                    <p>
                        <label for="router">Home Setup / Router</label>
                        <input name="router" type="text" class="form-control input-sm" placeholder="Home Setup / Router">
                    </p>
                    <p>
                        <div>
                            <input type='submit' class="btn btn-primary center-block" value="Submit"  name="submit"/>
                        </div>
                    </p>
                </div>
        
            </form>
        </div>
    </div>
{% endblock %}