<!DOCTYPE html>
<html>

{% load staticfiles %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Verizon</title>
    <!-- Favicon-->
    <link rel="icon" href="{% static 'app/images/smallicon.png' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />

    <!-- Waves Effect Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/waves.css' %}" />

    <!-- Animation Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/animate.css' %}" />

    <!-- Preloader Css -->
   <link rel="stylesheet" type="text/css" href="{% static 'app/content/md-preloader.css' %}" />
 
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/my_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dataTables.bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/responsive_datatable.css' %}" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/theme-red.css' %}" />

     <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />


     <script>
   function stbststus(){
      $.getJSON("Json", function(result){
          $("#STBStatus").empty();
            $.each(result, function(i, item){
              if(item.STBStatus == "1"){
                colorclass = "available";
                status = "";
              }
              if(item.STBStatus == "0"){
                colorclass = "offline";
                status = "disabled";
              }
              if(item.STBStatus == "2"){
                colorclass = "In use";
                status = "";
              }
                $("#STBStatus").append("<label class='radio'><input type='radio' name='optradio' "+status+" value='"+item.STBLabel+"'>" +item.STBLabel +"   <i class='fa fa-circle pull-right  "+colorclass+"' aria-hidden='true'></i></label> <hr>");
            });
        });
   }

    function stb2(job, build){
    debugger;
          $.post("stopJob", {"Job Number":job, "Build Number":build}, function(result){
            location.reload();

          });
        }

    function stb1(job1, build1){
            alert (job1);
            alert (build1);
            $.get("stopJob",{ job: job1, build: build1 },function(result){
             });
        }

   function stbststus1(){
    //location.href="JobStatus";
    $.getJSON("JobStatus", function(result){
          $("#testdataid").empty();
            $.each(result, function(i, item){
            if(item.Result == "SUCCESS"){
            colorclass = "available";
            }
            if(item.Result == "FAILURE"){
            colorclass = "offline";
            }
            if(item.Result == "IN PROGRESS"){
            colorclass = "in_progress";
            }
            if(item.Result == "JOB IN QUEUE"){
            colorclass = "in_queue";
            }
            if(item.Result == "ABORTED"){
            colorclass = "aborted";
            }
                $("#testdataid").append("<tr><td>"+item["Job No"]+"</td><td>"+item["Suite Name"]+"</td><td>"+item["Build No"]+"</td><td><p class = " + colorclass + ">" + item.Result + "</p></td><td>" + item.StartTime + "</td><td>" + item.EndTime + "</td><td>" + item.Duration +" </td><td data-editable=\"true\"><button onclick=\"stb1('"+item["Job No"]+"',"+item["Build No"]+")\" data-role=\"button\" class=\"btn_stop btn btn-danger\">Stop</button></td><td data-editable=\"true\"><a href=\"#\">REPORT LINK</a></td></tr>");
            });
        }); }

    </script>


</head>


<body class="theme-red" onload="goLoad()">
	  {% include 'app/loginpartial.html' %}
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="md-preloader pl-size-md">
                <svg viewbox="0 0 75 75">
                    <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                </svg>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html"><img class="img-reponsive" src="{% static 'app/images/Console.png' %}"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <img src="{% static 'app/images/verizon.png' %}" class="img-reponsive pull-right">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{% static 'app/images/user.png' %}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li> 
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="index.html">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
					<li>
                        <a href="{% url 'Reports' %}">
                            <i class="material-icons">home</i>
                            <span>Reports</span>
                        </a>
                    </li>
					<li>
                        <a href="{% url 'Revo' %}">
                            <i class="material-icons">home</i>
                            <span>Revo</span>
                        </a>
                    </li>
					<li>
                        <a href="{% url 'Storm' %}">
                            <i class="material-icons">home</i>
                            <span>Storm</span>
                        </a>
                    </li>
					<li>
                        <a href="{% url 'Appium' %}">
                            <i class="material-icons">home</i>
                            <span>Appium</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal col-sm-12 text-center">   
                  Powered by <img src="{% static 'app/images/hcl.png' %}">
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
 
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="panel-group" id="accordion1">
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h5 class="panel-title">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Information about Test Console</a>
					</h5>
				  </div>
				  <div id="accordion1_1" class="panel-collapse collapse in">
					<div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h5 class="panel-title">
					  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Announcements</a>
					</h5>
				  </div>
				  <div id="accordion1_2" class="panel-collapse collapse">
					<div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h5 class="panel-title">
					  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Help Documentation</a>
					</h5>
				  </div>
				  <div id="accordion1_3" class="panel-collapse collapse">
					<div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h5 class="panel-title">
					  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">FAQs</a>
					</h5>
				  </div>
				  <div id="accordion1_4" class="panel-collapse collapse">
					<div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
					</div>
				  </div>
				</div>
				<div class="panel panel-default">
				  <div class="panel-heading">
					<h5 class="panel-title">
					  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">About</a>
					</h5>
				  </div>
				  <div id="accordion1_5" class="panel-collapse collapse">
					<div class="panel-body">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
					</div>
				  </div>
				</div>
		  </div>	 
		</div>
	</section> 
     <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
      <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
       <script src="{% static 'app/scripts/waves.js' %}"></script>
        <script src="{% static 'app/scripts/admin.js' %}"></script>
</body>

</html>